.monitor-box {
    background-color: #cecece;
    min-height: 130px;
    max-width: 223px;
}

.buttons {
    display: block;
    position: fixed;
    border: #2b2b2b solid 2px;
    width: fit-content;
    left: 50%;
    top: 90px;
    transform: translateX(-50%);
}

.btn {
    background-color: #efefef;
    height: 50px;
    width: 50px;
}

.btn:hover {
    background-color: #d5d5d5;
}

.btn:active {
    background-color: #b4b4b4
}
